{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "exclude": [
    "test/**/*"
  ],
  "check-coverage": true,
  "per-file": true,
  "lines": 95,
  "statements": 95,
  "functions": 95,
  "branches": 90,
  "watermarks": {
    "lines": [80, 95],
    "functions": [80, 95],
    "branches": [80, 95],
    "statements": [80, 95]
  }
}
